{% extends "template.twig" %}
{% block title %}
{% set title = 'Administrateur Valid' %} 
{{ title }}
{% endblock %}
{% block head %}
    {{ parent() }}
    
{% endblock %}
{% block body %}


<header>
            <ul class="navbar navbar-dark bg-primary"> 
                <li class="nav-item list-inline-item">
                <a class="navbar-brand" href="/blog/connection">admin</a></li>
                <li class="nav-item list-inline-item">
                <a class="navbar-brand" href="/blog/connect">Déconnexion</a></li>
                
            </ul>
            
            
        </header>
        <p>Administrateur a validé</p>
        <div>
             

            {% for admin in loginvalid %}
            
                <p>{{ admin.id }}
               {{ admin.pseudo }}
                {{ admin.motdepasse }}
                <a href="/blog/adminvalid/{{ admin.id }}">voulez vous valider cet administrateur?</a>
                </p>
            
            {% endfor %}
            
            
           
            

            
        </div>
        
{% endblock %} 