{% extends "template.twig" %}
{% block title %}
{% set title = 'Administrateur valide' %} 
{{ title }}
{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block body %}
    {% if _flash.getFlashMessage('succes') %}
        <div class="alert alert-success mt-4" role="alert">
                <p>{{ _flash.getFlashMessage('succes') }}</p>
        </div>
    {% endif %}
    <header>
        <ul class="navbar navbar-dark bg-primary d-flex justify-content-around"> 
            <li class="nav-item list-inline-item">
            <a class="navbar-brand" href="/blog/admin/{{ _session.id }}">Adminnistrateur</a></li>
            <li class="nav-item list-inline-item">
            <a class="navbar-brand" href="/blog/postsmanager/{{ _session.id }}">Post</a></li>
            <li class="nav-item list-inline-item">
            <a class="navbar-brand" href="/blog/logout">Déconnexion</a></li>
        </ul>   
    </header>
    <form class="form-group" action="/blog/connection" method="POST">
        <input type="hidden" name="pseudo" value="{{ _session.pseudo }}"  ></br>
        <input type="hidden" name="motdepasse" value="{{ _session.motdepasse }}" ></br>
        <input type="submit" name="checkconnexion" value="Retour a l'accueil manager" class="btn btn-primary ml-3">
        <input type="hidden" name="token" id="token" value="{{ _session.token }}" />
    </form>
    <div class="m">
        {% if loginvalid %}
            <p class="card card-header mt-5 mb-5" >Administrateur à valider:</p>
            <div>
                {% for admin in loginvalid %}
                    <p>
                {{ admin.pseudo }}</p>
                <p>Voulez vous valider cet administrateur?
                    <a class="btn btn-primary" href="/blog/adminvalid/{{ admin.id_admin }}">oui?</a>
                    <a class="btn btn-danger" href="/blog/admindelete/{{ admin.id_admin }}">Ou le supprimer?</a>
                    </p>
                
                {% endfor %}
                </div>
        {% endif %}
        <p class="card card-header mt-5 mb-5" >Tous les administrateurs:</p>
        {% for adminvalid in loginvalidadmin %} 
            <p>
            {{ adminvalid.pseudo }}
            <a class="" href="/blog/admindelete/{{ adminvalid.id_admin }}">Supprimez?</a></p>
        {% endfor %}
    </div>
    <footer class="text-white bg-primary mt-3 card-group">
        <div class="card-body">
            <p>Bienvenue sur mon blog professionel, vous pouvez gérer nos posts <a class="text-success" href="/blog/postsmanager/{{ _session.id }}">ici</a></p>
        </div>
        <div class="card-body">
            <div>
                <script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
                <script type="IN/Share" data-url="linkedin.com/in/thomas-da-silva-seabra"></script>
            </div>
            <div>
                <a class="text-success" href="Public/CVtype.pdf.zip">Mon CV est disponible ici!</a>
            </div>
        </div> 
        <div class="card-body">     
            <a class="text-success" href="/blog/logout">Déconnexion</a>
        </div>
    </footer>
{% endblock %} 