{% extends "template.twig" %}
{% block title %}
{% set title = 'Administrateur Valid' %} 
{{ title }}
{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block body %}
    {% if _flash.getFlashMessage('succes') %}
        <div class="alert alert-success mt-4" role="alert">
                <p>{{ _flash.getFlashMessage('succes') }}</p>
        </div>
    {% endif %}
    <header>
        <ul class="navbar navbar-dark bg-primary"> 
            <li class="nav-item list-inline-item">
            <a class="navbar-brand" href="/blog/admin/{{ _session.id }}">admin</a></li>
            <li class="nav-item list-inline-item">
            <a class="navbar-brand" href="/blog/postsmanager/{{ _session.id }}">Post</a></li>
            <li class="nav-item list-inline-item">
            <a class="navbar-brand" href="/blog/logout">Déconnexion</a></li>
        </ul>   
    </header>
    {% if loginvalid %}
        <p>Administrateur a validé</p>
        <div>
            {% for admin in loginvalid %}
                <p>{{ admin.id }}
            {{ admin.pseudo }}
            Voulez vous valider cet administrateur?
            <form action="/blog/adminvalid/{{ admin.id }}" method="POST">
                <button type="submit" name="yes">oui</button>
                </form>
                <a class="" href="/blog/admindelete/{{ admin.id }}">Ou le supprimer?</a>
                </p>
            
            {% endfor %}
            </div>
    {% endif %}
    <p>Tous les administrateurs:</p>
    {% for adminvalid in loginvalidadmin %} 
        <p>{{ adminvalid.id }}
        {{ adminvalid.pseudo }}
        <a class="" href="/blog/admindelete/{{ admin.id }}">Supprimer?</a>
    {% endfor %}
{% endblock %} 