{% extends "template.twig" %}
{% block title %}
{% set title = 'Manager commentaires' %} 
{{ title }}
{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <header>
        <ul class="navbar navbar-dark bg-primary d-flex justify-content-around">  
            <li class="nav-item list-inline-item">
            <a class="navbar-brand" href="/blog/admin/{{ _session.id }}">Administrateur</a></li>
            <li class="nav-item list-inline-item">
            <a class="navbar-brand" href="/blog/postsmanager/{{ _session.id }}">Posts</a></li>
            <li class="nav-item list-inline-item">
            <a class="navbar-brand" href="/blog/logout">Deconnection</a></li>
        </ul>    
    </header> 
    <a class="ml-3 mb-3 btn btn-outline-primary" href="/blog/postsmanager/{{ postsAdminView.id_utilisateur }}">Retour à la liste des posts</a>
    <div class="card">
        <h3 class="card-header">{{ postsAdminView.title|upper }}</h3>
        <div class="card-body">
            <p class="card-text">{{ postsAdminView.content }}</p>    
        </div>  
    </div>
    <div class="card">
        <h3 class="card-header">Validez les commentaires ici</h3>
        {% if commentsNotvalidView %}
            {% for commentMana in commentsNotvalidView %}
            <div class="card-body">
                <p>{{ commentMana.comment }}</p>
                <p>le {{ commentMana.comment_date }} écrit par
                {{ commentMana.author }} 
                    </p>
                <a class="btn btn-outline-success" href="/blog/commentupdatevalid/{{ commentMana.id_comment }}">Valider ce commentaire ?</a>
                <a class="btn btn-outline-danger" href="/blog/commentdelete/{{ commentMana.id_comment }}">Supprimer</a>
            </div>
            {% endfor %}
        {% endif %}
       {% if not commentsNotvalidView %}
            <p>Aucun commentaire à valider sur ce post.</p>
        {% endif %}
    </div>
    <footer class="text-white bg-primary mt-3 card-group">
        <div class="card-body">
            <p>Bienvenue sur mon blog professionel, vous pouvez gérer nos posts <a class="text-success" href="/blog/postsmanager/{{ _session.id }}">ici</a></p>
        </div>
        <div class="card-body">
            <div>
                <script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
                <script type="IN/Share" data-url="linkedin.com/in/thomas-da-silva-seabra"></script>
            </div>
            <div>
                <a class="text-success" href="Public/CVtype.pdf.zip">Mon CV est disponible ici!</a>
            </div>
        </div> 
        <div class="card-body">     
        <a class="text-success" href="/blog/logout">Déconnexion</a>
        </div>
    </footer>        
{% endblock %}
