{% extends "template.twig" %}
{% block title %}
{% set title = 'Validez commentaire' %} 
{{ title }}
{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <header>
        <ul class="navbar navbar-dark bg-primary d-flex justify-content-around">  
            <li class="nav-item list-inline-item">
            <a class="navbar-brand" href="/blog/admin/{{ _session.id }}">Administrateur</a></li>
            <li class="nav-item list-inline-item">
            <a class="navbar-brand" href="/blog/postsmanager/{{ _session.id }}">Posts</a></li>
            <li class="nav-item list-inline-item">
            <a class="navbar-brand" href="/blog/logout">Deconnection</a></li>
        </ul>
    </header>
    <a class="ml-3 mb-3 btn btn-outline-primary" href="/blog/postsmanager/{{ postCommentAdminView.id_utilisateur }}">Retour à la liste des billets</a>
    <div class="card">
        <h3 class="card-header">{{ postCommentAdminView.title|upper }}</h3>
        <div class="card-body">
            <p class="card-text">{{ postCommentAdminView.content }}</p>    
        </div>  
    </div>
    <div class="card">
        <h3 class="card-header">Modifier ou supprimer les commentaires ici</h3>
        {% if commentView %}
            {% for comMana in commentView %}
            <div class="card-body">
                <p>{{ comMana.comment }}</p>
                <p>le {{ comMana.comment_date }} ecrit par
                {{ comMana.author }} 
                    </p>
                <a class="btn btn-outline-primary" href="/blog/commentupdateform/{{ comMana.id_comment }}">Modifier</a>
                <a class="btn btn-outline-danger" href="/blog/commentdelete/{{ comMana.id_comment }}">Supprimer</a>
            </div>
            {% endfor %}
        {% endif %}
        {% if not commentView %}
            <div class="card-body">
                <p> Aucun commentaire sur ce post, verifiez les commetaires à valider. </p>
            </div>
        {% endif %}
    </div>
    
    <footer class="text-white bg-primary mt-3 card-group">
        <div class="card-body">
            <p>Bienvenue sur mon blog professionel, vous pouvez gérer nos posts <a class="text-success" href="/blog/postsmanager/{{ _session.id }}">ici</a></p>
        </div>
        <div class="card-body">
            <div>
                <script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
                <script type="IN/Share" data-url="linkedin.com/in/thomas-da-silva-seabra"></script>
            </div>
            <div>
                <a class="text-success" href="Public/CVtype.pdf.zip">Mon CV est disponible ici!</a>
            </div>
        </div> 
        <div class="card-body">     
        <a class="text-success" href="/blog/logout">Déconnexion</a>
        </div>
    </footer>
{% endblock %}