{% extends "template.twig" %}
{% block title %}
{% set title = 'Valid Comment' %} 
{{ title }}
{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <header>
        <ul class="navbar navbar-dark bg-primary">  
            <li class="nav-item list-inline-item">
            <a class="navbar-brand" href="index.php?r=index">Accueil</a></li>
            <li class="nav-item list-inline-item">
            <a class="navbar-brand" href="/blog/logout">Deconnection</a></li>
        </ul>
    </header>
    <p><a href="/blog/postsmanager/{{ postCommentAdminView.id_utilisateur }}">Retour à la liste des billets</a></p>
    <div class="new">
        {{ postCommentAdminView.title }}
        {{ postCommentAdminView.content }} 
    </div>
    <p>modifier ou supprimer les commentaires ici</p>
    {% for comMana in commentView %}
    <p>{{ comMana.id }}
        {{ comMana.author }}
        {{ comMana.comment }}
        {{ comMana.comment_date }}
        <a class="btn btn-danger" href="/blog/commentupdateform/{{ comMana.id }}">update</a>
        
        <a class="btn btn-primary" href="/blog/commentdelete/{{ comMana.id }}">delete</a>
    {% endfor %}
    </p>
{% endblock %}
