{% extends "template.twig" %}
{% block title %}
{% set title = 'Manager Comment' %} 
{{ title }}
{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <header>
        <ul class="navbar navbar-dark bg-primary">  
            <li class="nav-item list-inline-item">
            <a class="navbar-brand" href="index.php?r=index">Accueil</a></li>
            <li class="nav-item list-inline-item">
            <a class="navbar-brand" href="/blog/logout">Deconnection</a></li>
        </ul>    
    </header> 
    <p><a href="/blog/postsmanager/{{ postsAdminView.id_utilisateur }}">Retour à la liste des billets</a></p>
    <div class="new">
        {{ postsAdminView.title }}
        {{ postsAdminView.content }}
    </div>
    
    <p>Vous pouvez valider un commentaire ici</p>
    {% for commentMana in commentsNotvalidView %}
    <p> {{ commentMana.author }}
        {{ commentMana.comment }}
    <a class="btn btn-danger" href="/blog/commentupdatevalid/{{ commentMana.id }}">voulez vous valider ce commentaire?</a>
    <a class="btn btn-primary" href="/blog/commentupdateform/{{ commentMana.id }}">update</a>
    <a class="btn btn-danger" href="/blog/commentdelete/{{ commentMana.id }}">delete</a>
    
    {% endfor %}
    </p>
            
{% endblock %}