{% extends "template.twig" %}
{% block title %}
{% set title = 'Modifier Comment' %} 
{{ title }}
{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <header>
        <ul class="navbar navbar-dark bg-primary" >  
            <li class="nav-item list-inline-item">
            <a class="navbar-brand" href="/blog/">Accueil</a></li>
            <li class="nav-item list-inline-item">
            <a class="navbar-brand" href="/blog/logout">Deconnection</a></li>
        </ul>
    </header>
    <p><a href="/blog/postmanager/{{ formCommentViews.postId }}">Retour au billet</a></p>
    <form action="/blog/commentupdate/{{ formCommentViews.id }} " method="post" style="margin-top: 50px;" >
        <div class="form-group">
            <label for="title">title</label><br />
            <input class="form-control" type="text" id="author" name="author" value=" {{ formCommentViews.author }} "/>
        </div>
        <divclass="form-group">
            <label for="content">content</label><br />
            <input class="form-control" type="text" name="comment" value=" {{ formCommentViews.comment }} "/>
        </div>
        <div>
            <input type="submit" value="Modifier" class="btn btn-primary "/>
        </div>
    </form>
{% endblock %}