{% extends "template.twig" %}
{% block title %}
{% set title = 'Creation post' %} 
{{ title }}
{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <header>
        <ul class="navbar navbar-dark bg-primary d-flex justify-content-around" >  
            <li class="nav-item list-inline-item">
            <a class="navbar-brand" href="/blog/admin/{{ _session.id }}">Admininstrateur</a></li>
            <li class="nav-item list-inline-item">
            <a class="navbar-brand" href="/blog/postsmanager/{{ _session.id }}">Posts</a></li>
            <li class="nav-item list-inline-item">
            <a class="navbar-brand" href="blog/logout">Déconnexion</a></li>
        </ul>  
    </header>
    <a class="ml-3 mb-3 btn btn-outline-primary" href="/blog/postsmanager/{{ _session.id }}">Retour à la liste des posts</a></li>
    <p class="card card-header">Ecrire un post:</p>
    <div class="mx-4 my-3 px-4 py-4 border border-primary">
        <form action="/blog/postadd" method="post">
            <input type="hidden" name="utilisateurId" id="" value="{{ _session.id }}" />
            <div class="form-group">
                <label for="title">Titre</label><br />
                <input type="text" id="title" name="title" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="chapo">Chapo</label><br />
                <input type="text" name="chapo" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="content">Content</label><br />
                <textarea id="mytextarea" name="content" class="form-control"></textarea>
            </div>
            <div>
                <input type="submit" class="btn btn-primary " value="Créez"/>
            </div>
        </form>
    </div>
    <footer class="text-white bg-primary mt-5 card-group">
        <div class="card-body">
            <p>Bienvenue sur mon blog professionel, vous pouvez gérer nos posts <a class="text-success" href="/blog/postsmanager/{{ _session.id }}">ici</a></p>
        </div>
        <div class="card-body">
            <div>
                <script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
                <script type="IN/Share" data-url="linkedin.com/in/thomas-da-silva-seabra"></script>
            </div>
            <div>
                <a class="text-success" href="Public/CVtype.pdf.zip">Mon CV est disponible ici!</a>
            </div>
        </div> 
        <div class="card-body">     
            <a class="text-success" href="/blog/logout">Déconnexion</a>
        </div>
    </footer>
{% endblock %} 