{% extends "template.twig" %}
{% block title %}
{% set title = 'Manager Post' %} 
{{ title }}
{% endblock %}
{% block head %}
    {{ parent() }}
    
{% endblock %}
{% block body %}


        <header>
            <ul class="navbar navbar-dark bg-primary">  
                <li class="nav-item list-inline-item">
                <a class="navbar-brand" href="/blog/connection">Posts</a></li>
                <li class="nav-item list-inline-item">
                <a class="navbar-brand" href="/blog/connect">Déconnexion</a></li>
                
            </ul>
            
            
        </header>
        <div class="text" style="margin-top: 150px; margin-left: 75px;">
            <h3>Dernier billet du blog</h3>
            <a class="btn btn-primary" href="/blog/postcreate/{{ _session.id }}">Create</a>
           
            

            {% for post in postsadminview %}
                    
                      <p>
                      {{ post.title |upper}} : 
                      {{ post.content }}
                      <a class="btn btn-danger" href="/blog/commentmanager/{{ post.id }} ">commentaires</a>
                      <a class="btn btn-primary" href="/blog/postform/{{ post.id }}">Update</a>
                            <a class="btn btn-danger" href="/blog/postdelete/{{ post.id }}">Delete</a>
                        <a class="btn btn-primary" href="/blog/postmanager/{{ post.id }}">Commentaires a validé</a>
                      </p>
                           
                    {% endfor %}
                    
 {% endblock %}               
